/* src/assets/styles.css */
html, body {
    margin: 0; /* Убираем стандартные отступы */
    padding: 0; /* Убираем стандартные отступы */
    height: 100%; /* Устанавливаем высоту на 100% */
    overflow: hidden; /* Скрываем прокрутку */
}
